<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>系统监控</cite></a>
    <a><cite>在线用户</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-body">
      <table id="monitor-online-table" lay-filter="monitor-online-table"></table>

      <script type="text/html" id="monitor-online-toolbar-head">
	    <div class="layui-btn-container">  
		  <button class="layui-btn layui-btn-sm" lay-event="refresh">刷新</button>
	    </div>
	  </script>

      <script type="text/html" id="monitor-online-toolbar-row">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>强退</a> 
      </script>

    </div>
  </div>
</div>

<script>
  layui.use(['admin', 'table', 'common'], function () {
    var $ = layui.$
      , admin = layui.admin
      , view = layui.view
      , table = layui.table
      , common = layui.common
      , form = layui.form;

    var prefix = "monitor/online";
    // 调用 common.js 模块 getPopupSize 函数，用 ES6 解构赋值获取返回的两个参数
    const { popupWidthHeight, popupOffsetWidthHeight } = common.getPopupSize();

    table.render({
      elem: '#monitor-online-table'
      , url: prefix + '/list'
      , toolbar: '#monitor-online-toolbar-head'
      , defaultToolbar: ['filter', 'print', 'exports', {
        title: '提示',
        layEvent: 'LAYTABLE_TIPS',
        icon: 'layui-icon-tips'
      }]
      , height: 'full-200'
      , cols: [[
        { field: 'tokenId', title: '会话编号' }
        , { field: 'userName', title: '登陆名称' }
        , { field: 'deptName', title: '部门名称' }
        , { field: 'ipaddr', title: '主机' }
        , { field: 'loginLocation', title: '登陆地点' }
        , { field: 'browser', title: '浏览器' }
        , { field: 'os', title: '操作系统' }
        , { field: 'loginTime', title: '登陆时间' }
        , { title: '操作', width: 160, align: 'center', fixed: 'right', toolbar: '#monitor-online-toolbar-row' }
      ]],
      text: {
        none: '无数据'
      },
      response: {
        statusName: "code", //规定数据状态的字段名称，默认：code
        statusCode: 200, //规定成功的状态码，默认：0
      },
      parseData: function (res) {
        // res 即为原始返回的数据 
        return {
          code: res.code, // 解析接口状态
          msg: res.msg, // 解析提示文本
          count: res.total, // 解析数据长度
          data: res.rows, // 解析数据列表
        };
      }
    });

    //工具条
    table.on('tool(monitor-online-table)', function (obj) {
      var data = obj.data;
      if (obj.event === 'del') {
        layer.confirm('确定删除？', function (index) {
          admin.req({
            url: prefix + "/" + data.onlineId
            , type: 'delete'
            , contentType: 'application/json;charset=UTF-8'
            , done: function (res) {
              layer.msg("删除成功");
              layui.table.reload('monitor-online-table'); //重载表格
              layer.close(index); //执行关闭 
            }
          });
        });
      } else if (obj.event === 'edit') {
        admin.popup({
          title: '修改岗位'
          , area: popupWidthHeight
          , offset: popupOffsetWidthHeight
          , id: 'popup-monitor-online-edit'
          , success: function (layero, index) {
            view(this.id).render('monitor/online/form', data).done(function () {
              form.render(null, 'monitor-online-form');

              //提交
              form.on('submit(monitor-online-form-submit)', function (data) {
                var field = data.field; //获取提交的字段
                field.status = field.status ? 0 : 1;

                //提交 Ajax 成功后，关闭当前弹层并重载表格
                admin.req({
                  url: prefix
                  , type: 'put'
                  , contentType: 'application/json;charset=UTF-8'
                  , data: JSON.stringify(field)
                  , done: function (res) {
                    layer.msg("修改成功");
                    layui.table.reload('monitor-online-table'); //重载表格
                    layer.close(index); //执行关闭 
                  }
                });
              });
            });
          }
        });
      }
    });

    // 头部工具栏点击事件
    table.on('toolbar(monitor-online-table)', function (obj) {
      switch (obj.event) {
        case 'add':
          admin.popup({
            title: '添加新部门'
            , area: popupWidthHeight
            , offset: popupOffsetWidthHeight
            , id: 'popup-monitor-online-add'
            , success: function (layero, index) {
              view(this.id).render('monitor/online/form').done(function () {
                form.render(null, 'monitor-online-form');
                //提交
                form.on('submit(monitor-online-form-submit)', function (data) {
                  var field = data.field; //获取提交的字段 
                  field.status = field.status ? 0 : 1;
                  //提交 Ajax 成功后，关闭当前弹层并重载表格
                  admin.req({
                    url: prefix
                    , type: 'post'
                    , contentType: 'application/json;charset=UTF-8'
                    , data: JSON.stringify(field)
                    , done: function (res) {
                      layer.msg("新增成功");
                      layui.table.reload('monitor-online-table'); //重载表格
                      layer.close(index); //执行关闭 
                    }
                  });
                });
              });
            }
          });
          break;
        case 'delete':
          layer.msg('删除');
          break;
        case 'update':
          layer.msg('编辑');
          break;
        case 'LAYTABLE_TIPS':
          layer.msg('提示');
          break;
        case "refresh":
            layer.msg('刷新成功');
            layui.table.reloadData("monitor-online-table"); //重载表格
            break;
      }
    });


    form.on('switch(monitor-online-table-status)', function (data) {
      var checked = data.elem.checked;

      alert(checked);

      form.render();
    });


  });
</script>