<div class="layui-form" lay-filter="system-menu-add-form" style="padding: 20px 30px 0 0">
  <script type="text/html" template>
    {{# if(d.params.menuId){ }}
    <div class="layui-form-item">
      <label class="layui-form-label">上级菜单</label>
      <div class="layui-input-block">
        <input
          type="text"
          readonly
          placeholder="请输入"
          value="{{ d.params.menuName || '' }}"
          autocomplete="off"
          class="layui-input"
        />
        <input
          type="text"
          readonly
          placeholder="请输入"
          name="parentId"
          value="{{ d.params.menuId || '' }}"
          autocomplete="off"
          style="display: none"
          class="layui-input"
        />
      </div>
    </div>
    {{# }}}
  </script>

  <div class="layui-form-item">
    <label class="layui-form-label">菜单名称</label>
    <div class="layui-input-block">
      <script type="text/html" template>
        <input
          type="text"
          name="menuName"
          placeholder="请输入"
          lay-verify="required"
          autocomplete="off"
          class="layui-input"
        />
      </script>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">菜单类型</label>
    <div class="layui-input-block">
      <input
        type="radio"
        name="menuType"
        value="M"
        lay-filter="system-menu-add-menu-radio-filter"
        title="目录"
        checked
      />
      <input type="radio" name="menuType" value="C" lay-filter="system-menu-add-menu-radio-filter" title="菜单" />
      <input type="radio" name="menuType" value="F" lay-filter="system-menu-add-menu-radio-filter" title="按钮" />
    </div>
  </div>

  <div class="layui-form-item" id="system-menu-add-form-icon">
    <label class="layui-form-label">菜单图标</label>
    <div class="layui-input-block">
      <script type="text/html" template>
        <input type="text" name="icon" placeholder="请输入" autocomplete="off" class="layui-input" />
      </script>
    </div>
  </div>

  <div class="layui-form-item" id="system-menu-add-form-orderNum">
    <label class="layui-form-label">显示排序</label>
    <div class="layui-input-block">
      <script type="text/html" template>
        <input type="text" name="orderNum" placeholder="请输入" autocomplete="off" class="layui-input" />
      </script>
    </div>
  </div>

  <div class="layui-form-item" id="system-menu-add-form-path">
    <label class="layui-form-label">路由地址</label>
    <div class="layui-input-block">
      <script type="text/html" template>
        <input type="text" name="path" placeholder="请输入" autocomplete="off" class="layui-input" />
      </script>
    </div>
  </div>

  <div class="layui-form-item" id="system-menu-add-form-component">
    <label class="layui-form-label">组件路径</label>
    <div class="layui-input-block">
      <script type="text/html" template>
        <input
          type="text"
          name="component"
          placeholder="请输入"
          value="{{ d.params.code || '' }}"
          autocomplete="off"
          class="layui-input"
        />
      </script>
    </div>
  </div>

  <div class="layui-form-item" id="system-menu-add-form-query">
    <label class="layui-form-label">路由参数</label>
    <div class="layui-input-block">
      <script type="text/html" template>
        <input type="text" name="query" placeholder="请输入" autocomplete="off" class="layui-input" />
      </script>
    </div>
  </div>

  <div class="layui-form-item" id="system-menu-add-form-perms">
    <label class="layui-form-label">权限字符</label>
    <div class="layui-input-block">
      <script type="text/html" template>
        <input type="text" name="perms" placeholder="请输入" autocomplete="off" class="layui-input" />
      </script>
    </div>
  </div>

  <div class="layui-form-item" id="system-menu-add-form-isFrame">
    <label class="layui-form-label">是否外链</label>
    <div class="layui-input-block">
      <input type="radio" name="isFrame" value="0" lay-filter="system-menu-add-isFrame-radio-filter" title="是" />
      <input
        type="radio"
        name="isFrame"
        value="1"
        lay-filter="system-menu-add-isFrame-radio-filter"
        title="否"
        checked
      />
    </div>
  </div>

  <div class="layui-form-item" id="system-menu-add-form-visible">
    <label class="layui-form-label">显示状态</label>
    <div class="layui-input-block">
      <input
        type="radio"
        name="visible"
        value="0"
        lay-filter="system-menu-add-visible-radio-filter"
        title="显示"
        checked
      />
      <input type="radio" name="visible" value="1" lay-filter="system-menu-add-visible-radio-filter" title="隐藏" />
    </div>
  </div>

  <div class="layui-form-item" id="system-menu-add-form-status">
    <label class="layui-form-label">菜单状态</label>
    <div class="layui-input-block">
      <input
        type="radio"
        name="status"
        value="0"
        lay-filter="system-menu-add-status-radio-filter"
        title="正常"
        checked
      />
      <input type="radio" name="status" value="1" lay-filter="system-menu-add-status-radio-filter" title="停用" />
    </div>
  </div>

  <div class="layui-form-item" id="system-menu-add-form-isCache">
    <label class="layui-form-label">是否缓存</label>
    <div class="layui-input-block">
      <input
        type="radio"
        name="isCache"
        value="0"
        lay-filter="system-menu-add-isCache-radio-filter"
        title="缓存"
        checked
      />
      <input type="radio" name="isCache" value="1" lay-filter="system-menu-add-isCache-radio-filter" title="不缓存" />
    </div>
  </div>

  <!--
  <div class="layui-form-item" hide>
    <label class="layui-form-label" >备注</label>
    <div class="layui-input-block">
      <script type="text/html" template>
        <textarea type="text" name="remarks" autocomplete="off" class="layui-textarea"></textarea>
      </script>
    </div>
  </div> 
-->

  <div class="layui-form-item">
    <label class="layui-form-label"></label>
    <div class="layui-input-inline">
      <input type="button" lay-submit lay-filter="system-menu-add-form-submit" value="确认" class="layui-btn" />
    </div>
  </div>
</div>

<script>
  layui.use(["admin", "form"], function () {
    var $ = layui.$,
      form = layui.form;

    // $("#system-menu-add-form-m").hide();
    $('input[name="menuType"][value="M"]').prop("checked", "checked");
    form.render("radio");

    $("#system-menu-add-form-icon").show();
    $("#system-menu-add-form-orderNum").show();
    $("#system-menu-add-form-component").hide();
    $("#system-menu-add-form-path").show();
    $("#system-menu-add-form-query").hide();
    $("#system-menu-add-form-isFrame").show();
    $("#system-menu-add-form-visible").show();
    $("#system-menu-add-form-status").show();
    $("#system-menu-add-form-perms").hide();
    $("#system-menu-add-form-isCache").hide();

    form.on("radio(system-menu-add-menu-radio-filter)", function (data) {
      var elem = data.elem; // 获得 radio 原始 DOM 对象
      var checked = elem.checked; // 获得 radio 选中状态
      var value = elem.value; // 获得 radio 值
      var othis = data.othis; // 获得 radio 元素被替换后的 jQuery 对象

      DoMenu(elem.value);
      //layer.msg(['value: ' + value, 'checked: ' + checked].join('<br>'));
    });

    DoMenu = function (value) {
      if (value == "M") {
        $("#system-menu-add-form-icon").show();
        $("#system-menu-add-form-orderNum").show();
        $("#system-menu-add-form-component").hide();
        $("#system-menu-add-form-path").show();
        $("#system-menu-add-form-query").hide();
        $("#system-menu-add-form-isFrame").show();
        $("#system-menu-add-form-visible").show();
        $("#system-menu-add-form-status").show();
        $("#system-menu-add-form-perms").hide();
        $("#system-menu-add-form-isCache").hide();
      } else if (value == "C") {
        $("#system-menu-add-form-icon").show();
        $("#system-menu-add-form-orderNum").show();
        $("#system-menu-add-form-component").show();
        $("#system-menu-add-form-path").show();
        $("#system-menu-add-form-query").show();
        $("#system-menu-add-form-isFrame").show();
        $("#system-menu-add-form-visible").show();
        $("#system-menu-add-form-status").show();
        $("#system-menu-add-form-perms").show();
        $("#system-menu-add-form-isCache").show();
      } else if (value == "F") {
        $("#system-menu-add-form-icon").show();
        $("#system-menu-add-form-orderNum").show();
        $("#system-menu-add-form-component").hide();
        $("#system-menu-add-form-path").hide();
        $("#system-menu-add-form-query").hide();
        $("#system-menu-add-form-isFrame").hide();
        $("#system-menu-add-form-visible").hide();
        $("#system-menu-add-form-status").show();
        $("#system-menu-add-form-perms").show();
        $("#system-menu-add-form-isCache").hide();
      }
    };
  });
</script>
