<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>系统管理</cite></a>
    <a><cite>参数管理</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-body">
      <table id="system-config-table" lay-filter="system-config-table"></table>

      <script type="text/html" id="system-config-toolbar-head">
        <div class="layui-btn-container">
          <button class="layui-btn layui-btn-sm" lay-event="add">新增</button>
          <button class="layui-btn layui-btn-sm" lay-event="refresh">刷新</button>
        </div>
      </script>

      <script type="text/html" id="system-config-toolbar-row">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"
          ><i class="layui-icon layui-icon-edit"></i>编辑</a
        >
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"
          ><i class="layui-icon layui-icon-delete"></i>删除</a
        >
      </script>
    </div>
  </div>
</div>

<script>
  layui.use(["admin", "table",'common'], function () {
    var $ = layui.$,
      admin = layui.admin,
      view = layui.view,
      table = layui.table,
      common = layui.common,
      form = layui.form;

    // 调用 common.js 模块 getPopupSize 函数，用 ES6 解构赋值获取返回的两个参数
    const { popupWidthHeight, popupOffsetWidthHeight } = common.getPopupSize();
    
    var prefix = "system/config";

    table.render({
      elem: "#system-config-table",
      url: prefix + "/list",
      toolbar: "#system-config-toolbar-head",
      defaultToolbar: [
        "filter",
        "print",
        "exports",
        {
          title: "提示",
          layEvent: "LAYTABLE_TIPS",
          icon: "layui-icon-tips",
        },
      ],
      height: "full-200",
      cols: [
        [
          { field: "configId", title: "参数主键" },
          { field: "configName", title: "参数名称" },
          { field: "configKey", title: "参数键名" },
          { field: "configValue", title: "参数键值" },
          { field: "configType", title: "系统内置" },
          { field: "remark", title: "备注" },
          { field: "updateTime", title: "更新时间" },
          { field: "createTime", title: "创建时间" },
          { title: "操作", width: 160, align: "center", fixed: "right", toolbar: "#system-config-toolbar-row" },
        ],
      ] 
    });

    //工具条
    table.on("tool(system-config-table)", function (obj) {
      var data = obj.data;
      if (obj.event === "del") {
        layer.confirm("确定删除？", function (index) {
          admin.req({
            url: prefix + "/" + data.configId,
            type: "delete",
            contentType: "application/json;charset=UTF-8",
            done: function (res) {
              layer.msg("删除成功");
              layui.table.reload("system-config-table"); //重载表格
              layer.close(index); //执行关闭
            },
          });
        });
      } else if (obj.event === "edit") {
        admin.popup({
          title: "修改参数信息",
          area: popupWidthHeight,
          offset: popupOffsetWidthHeight,
          id: "popup-system-config-edit",
          success: function (layero, index) {
            view(this.id)
              .render("system/config/form", data)
              .done(function () {
                form.render(null, "system-config-form");

                //提交
                form.on("submit(system-config-form-submit)", function (data) {
                  var field = data.field; //获取提交的字段
                  field.status = field.status ? 0 : 1;

                  //提交 Ajax 成功后，关闭当前弹层并重载表格
                  admin.req({
                    url: prefix,
                    type: "put",
                    contentType: "application/json;charset=UTF-8",
                    data: JSON.stringify(field),
                    done: function (res) {
                      layer.msg("修改成功");
                      layui.table.reload("system-config-table"); //重载表格
                      layer.close(index); //执行关闭
                    },
                  });
                });
              });
          },
        });
      }
    });

    // 头部工具栏点击事件
    table.on("toolbar(system-config-table)", function (obj) {
      switch (obj.event) {
        case "add":
          admin.popup({
            title: "添加参数信息",
            area: popupWidthHeight,
            offset: popupOffsetWidthHeight,
            id: "popup-system-config-add",
            success: function (layero, index) {
              view(this.id)
                .render("system/config/form")
                .done(function () {
                  form.render(null, "system-config-form");
                  //提交
                  form.on("submit(system-config-form-submit)", function (data) {
                    var field = data.field; //获取提交的字段
                    field.status = field.status ? 0 : 1;
                    //提交 Ajax 成功后，关闭当前弹层并重载表格
                    admin.req({
                      url: prefix,
                      type: "post",
                      contentType: "application/json;charset=UTF-8",
                      data: JSON.stringify(field),
                      done: function (res) {
                        layer.msg("新增成功");
                        layui.table.reload("system-config-table"); //重载表格
                        layer.close(index); //执行关闭
                      },
                    });
                  });
                });
            },
          });
          break;
        case "delete":
          layer.msg("删除");
          break;
        case "update":
          layer.msg("编辑");
          break;
        case "LAYTABLE_TIPS":
          layer.msg("提示");
          break;
        case "refresh":
            layui.table.reloadData("system-config-table"); //重载表格
            layer.msg('刷新成功');
            break;
      }
    });

    form.on("switch(system-config-table-status)", function (data) {
      var checked = data.elem.checked;

      alert(checked);

      form.render();
    });
  });
</script>
