<title>设置我的密码</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>设置</cite></a>
    <a><cite>我的密码</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">修改密码</div>
        <div class="layui-card-body" pad15>

          <div class="layui-form" lay-filter="user_password_form" autocomplete="off">
            <div class="layui-form-item">
              <label class="layui-form-label">当前密码</label>
              <div class="layui-input-inline">
                <input type="password" name="oldPassword" readonly onfocus="this.removeAttribute('readonly');"
                  lay-verify="required" lay-verType="tips" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">新密码</label>
              <div class="layui-input-inline">
                <input type="password" name="password" readonly onfocus="this.removeAttribute('readonly');"
                  lay-verify="pass" lay-verType="tips" autocomplete="off" id="LAY_password" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">6到16个字符</div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">确认新密码</label>
              <div class="layui-input-inline">
                <input type="password" name="repassword" readonly onfocus="this.removeAttribute('readonly');"
                  lay-verify="repass" lay-verType="tips" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="setmypass">确认修改</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script>
  layui.use(['form', 'common'
  ], function () {
    var $ = layui.$
      , layer = layui.layer
      , laytpl = layui.laytpl
      , setter = layui.setter
      , view = layui.view
      , admin = layui.admin
      , form = layui.form
      , common = layui.common;

    var $body = $('body');

    form.val("user_password_form", {
      oldPassword: '',
      password: '',
      repassword: '',
    });

    form.render();


    //自定义验证
    form.verify({
      //我们既支持上述函数式的方式，也支持下述数组的形式
      //数组的两个值分别代表：[正则匹配、匹配不符时的提示文字]
      pass: [
        /^[\S]{6,12}$/
        , '密码必须6到12位，且不能出现空格'
      ]

      //确认密码
      , repass: function (value) {
        if (value !== $('#LAY_password').val()) {
          return '两次密码输入不一致';
        }
      }
    });


    //设置密码
    form.on('submit(setmypass)', function (obj) {

      //加密
      var code = "0323"

      //var oldPassword = common.aes(obj.field["oldPassword"], code);
     // var newPassword = common.aes(obj.field["password"], code);


      //obj.field["oldPassword"] = oldPassword;
      //obj.field["password"] = password;
      //obj.field["repassword"] = null;

      //obj.field["vercode"] = code;

      //  layer.msg(JSON.stringify(obj.field));

      //提交修改

     oldPassword = obj.field["oldPassword"];
     newPassword = obj.field["password"];
  
      
      admin.req({
      	url: '/system/user/profile/updatePwd?oldPassword=' + oldPassword + '&newPassword=' + newPassword //实际使用请改成服务端真实接口
        , type: 'put'
        , contentType: 'application/json;charset=UTF-8' 
        , done: function (res) {
          layer.msg("修改成功");
          form.val("user_password_form", {
            oldPassword: '',
            password: '',
            repassword: '',
          });

          form.render();
        }
      });
      return false;

    });


  })
</script>